<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ckeditor class="comment-form-textarea" [editor]="Editor" data="<p>Hello from CKEditor5!</p>"
    (ready)="onReady($event)" (change)="onChange($event)" formControlName="title">
  </ckeditor>
  <button class="comment-form-button" type="submit" [disabled]="form.invalid">
    {{ submitLabel }}
  </button>
  <button *ngIf="hasCancelButton" type="button" class="comment-form-button comment-form-cancel-button"
    (click)="handleCancel.emit()">
    Cancel
  </button>
</form>