@import "../../../styles";

textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
}

.form {
  margin-top: 3rem;

  &__editor {
    position: relative;
  }

  &__username {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: 600;
    color: $primary-color;
    padding: 1rem;
    transition: $transition;
  }

  &__textarea {
    width: 100%;
    height: 10rem;
    margin-bottom: 8px;
    margin-top: 8px;
    border: $border;
    background: none repeat scroll 0 0 rgba($green-1, 0.1);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-size: 1em;
    line-height: 1.4em;
    padding: 1.6rem 2rem;
    resize: none;

    transition: background-color 0.2s ease 0s;

    &:focus {
      outline: 1px solid $primary-color;
    }

    &:focus ~ span {
      transform: translateY(-3rem);
      background-color: white;
    }
  }
}