<div class="simple-card text-left">
  <img [src]="'../../../assets/images/' + srcImg" alt="Lastest Post image" />
  <div class="p-10">
    <h3 class="simple-card__title text-half-highlight">Use C for learning socket. Practice with video :></h3>
    <p class="simple-card__summary">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est iure dignissimos facere repudiandae aliquid amet
      culpa
      dolores,
      quisquam repellendus eveniet nulla voluptatum sed, omnis maiores! Delectus, aut. Suscipit, ratione soluta.
    </p>
  </div>
</div>