@import "../../../styles";

.simple-card {
  font-size: $small-text;
  width: 40rem;
  height: 42rem;
  border: 1px solid $green-1;
  background-color: white;
  cursor: pointer;

  img {
    width: 100%;
    height: 25rem;
    object-fit: contain;
    border-bottom: 1px solid $green-1;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(60, 60, 59);
    @include limit-line(1);

    line-height: 2.5rem;
    margin-bottom: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__summary {
    font-size: $tip-text;
    opacity: .7;
    @include limit-line(4);
  }
}
