<nav class="ctgr-box" [ngClass]="{ 'ctgr-box--origin': scrollPosition < 456 }" #nav>
  <div class="ctgr-box__logo-div">
    <a *ngIf="scrollPosition > 456" routerLink="/" class="ctgr-box__logo primary-text"
      (click)="scrollToTop()">Blogify</a>
  </div>
  <ul>
    <li *ngFor="let c of categories"><a routerLink="/category" [queryParams]="{ name: c.name }">{{ c.name }}</a></li>
  </ul>
  <div class="ctgr-box__search">
    <ng-container *ngIf="scrollPosition > 456">
      <mat-icon>search</mat-icon>
      <input placeholder="Something..." type="text">
    </ng-container>
  </div>
</nav>