@import "../../../styles";

.ctgr-box {
  background-color: $tertiary-color;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: $transition;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  place-items: center;
  box-shadow: rgba($green-1, 0.3) 0px 1px 2px 0px, rgba($green-1, 0.15) 0px 2px 6px 2px;

  // scroll position < 456
  &--origin {
    top: 12rem;

    .ctgr-box__logo-div, ul, .ctgr-box__search {
      background-color: $tertiary-color;
    }
  }

  &__logo-div {
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: $green-1;
    @include center-item();
  }

  &__logo {
    font-size: 2.4rem;
  }

  &__search {
    height: 100%;
    width: 100%;
    @include center-item();
    padding-left: 1rem;
    background-color: $green-1;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: $green-1;
    color: $primary-color;

    &:focus, &:focus-visible, &:focus-within {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  ul {
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      min-width: 10rem;
      height: 5rem;
      margin: 0 1rem;
    }

    li a {
      width: 100%;
      height: 100%;
      display: inline-block;
      @include center-item();
      font-weight: 600;
      color: $primary-color;
      transition: $transition;

      &:hover, &.active {
        background-color: $primary-color;
        color: $tertiary-color;
        text-decoration: underline;
      }
    }
  }
}

nav.switch-ui {
  background-color: $green-1;
  color: white;
  ul {
    li a {
      color: $primary-color;
  
      &:hover {
        background-color: white;
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }
}