@import "../../../styles";

.bl__subscription {
  background-color: $secondary-color;
  border: $border;
  border-width: 1.5px 0 1.5px 0;
  padding: 6rem 0;
}

form {
  padding: 0 15%;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    width: 54rem;
    height: 5rem;
  }
}

mat-icon {
  font-size: 18px;
}