@import "../../../styles";

.sc {
  margin-top: 1.2rem;
  width: 45rem;
  height: 16rem;
  background-color: white;
  display: grid;
  grid-template-columns: 38% 60%;
  column-gap: 2%;
  padding: 1rem 1.2rem;
  box-shadow: $green-1 0px 0.2em, $green-1 0px -0.2em, $green-1 0.2em 0px, $green-1 -0.2em 0px, $primary-color 0.2em 0.4em, $primary-color 0.4em 0.2em, $green-1 0.4em 0.6em, $green-1 0.6em 0.4em;
  cursor: pointer;
  
  &__img {
    height: 14rem;
    box-shadow: $primary-color 1px 0.2rem, $primary-color 1px -0.2rem, $primary-color 0.2rem 1px, $primary-color -0.2rem 1px;
    img {
      width: 17rem;
      height: 14rem;
      object-fit: contain;
    }
  }

  &__title {
    font-size: $small-text;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    font-size: $tip-text;
    margin-right: 5px;
    @include center-item();
  }

  &__desc {
    margin-top: 1rem;
    font-size: 1.3rem;
    opacity: .7;
    color: $text-color;
    @include limit-line(3);
  }
}