@import "../../../styles";

.sc {
  width: 100%;
  height: 16rem;
  background-color: white;
  display: grid;
  grid-template-columns: 38% 60%;
  column-gap: 2%;
  padding: 1rem 1.2rem;
  box-shadow: $green-1 0px 0.2em, $green-1 0px -0.2em, $green-1 0.2em 0px, $green-1 -0.2em 0px, $primary-color 0.2em 0.4em, $primary-color 0.4em 0.2em, $green-1 0.4em 0.6em, $green-1 0.6em 0.4em;
  cursor: pointer;
  &__img {
    height: 100%;
    box-shadow: $primary-color 0px 0.2rem, $primary-color 0px -0.2rem, $primary-color 0.2rem 0px, $primary-color -0.2rem 0px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: $small-text;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    font-size: 1.3rem;
    @include center-item();
  }
}