<div *ngIf="project" class="sc">
  <div class="sc__img">
    <img [lazyLoad]="project.image" defaultImage="assets/images/placeholder-image.png" [alt]="project.name" />
  </div>
  <div class="sc__info">
    <h4 class="sc__title"><a target="_blank" [href]="project.url">{{ project.name }}</a></h4>
    <span class="sc__link text-half-highlight" *ngFor="let l of project.languages; let last = last">
      #{{ l }}{{ last ? '' : ',' }}
    </span>
    <div class="sc__desc">
      {{ project.describe }}
    </div>
  </div>
</div>