@import "../../../styles";

.post-card {
  width: 31rem;
  height: 45rem;
  font-size: $small-text;
  border: 2px solid $black-color;
  background-color: $secondary-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 8px;
  cursor: pointer;

  &--transperent {
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid $green-1;
    border-radius: 0;
    height: 50rem;

    .post-card__info {
      height: 30rem;
      padding: 1.6rem 0;
    }

    .post-card__title {
      line-height: 2.4rem;
    }

    img {
      border-radius: 8px;
    }

    .post-card__img {
      border-bottom: none;
    }
  }

  &--two-column {
    width: 64rem;
    height: 50rem;

    .post-card__img {
      height: 25rem;
    }

    .post-card__info {
      height: 25rem;
    }
  }

  &--horizontal {
    width: 64rem;
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: 20% 77%;
    column-gap: 3%;
    height: 20rem;

    .post-card__info {
      padding: 0;
      grid-template-rows: 20% 15% 30% 20%;
      height: 100%;
      row-gap: 3%;
      place-items: center start;
    }
  }

  &__img {
    width: 100%;
    height: 18rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-bottom: 1px solid $green-1;

    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      transition: $transition;
      object-fit: contain;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__info {
    width: 100%;
    height: 24rem;
    padding: 2px 2rem;
    display: grid;
    grid-template-rows: 25% 10% 30% 30%;
    place-items: center start;
    row-gap: 2%;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: $primary-color;
    line-height: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__action {
    height: 2rem;
    font-size: $tip-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .7;
    margin: 1rem 0;

    span {
      @include center-item();
    }
  }

  &__short-desc {
    font-size: 1.4rem;
    color: $black-color;
    height: 6rem;

    @include limit-line(3);
  }

  &__tags {
    margin: .5rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  mat-icon {
    font-size: $small-text;
    @include center-item();
  }
}
