<div *ngIf="post" class="post-card" [ngClass]="{
    'post-card--transperent': simple,
    'post-card--two-column': type === 'twoColumn',
    'post-card--horizontal': type === 'horizontal'  
  }">
  <div class="post-card__img">
    <img [src]="post!.image" [alt]="post!.title" routerLink="/post" [queryParams]="{ 'permalink': post!.permalink}" />
  </div>
  <div class="post-card__info text-left">
    <h3 class="post-card__title" routerLink="/post" [queryParams]="{ 'permalink': post!.permalink}">{{ post!.title }}
    </h3>
    <div class="post-card__action">
      <div>
        <span>{{ post!.created_at | date }} <mat-icon>access_time</mat-icon></span>
      </div>
      <div>
        <span>{{ post!.view }} <mat-icon>remove_red_eye</mat-icon></span>
        <span>{{ post!.like }} <mat-icon style="color: blue;">thumb_up</mat-icon></span>
      </div>
    </div>
    <p class="post-card__short-desc">
      {{ post!.excerpt }}
    </p>
    <div class="post-card__tags">
      <blog-tag *ngFor="let tag of post!.categories" [tagName]="tag.name"
        [color]="getColorByOfTag(tag.name)"></blog-tag>
    </div>
  </div>
</div>