<div *ngIf="post" [ngClass]="
    'post-card ' + 
    (simple ? 'post-card--transperent ' : '') + 
    (twoColumn ? 'post-card--two-column ' : '') + 
    (horizontal ? 'post-card--horizontal ' : '')
  ">
  <div class="post-card__img">
    <img [src]="post!.image" [alt]="post!.title" />
  </div>
  <div class="post-card__info text-left">
    <h3 class="post-card__title">{{ post!.title }}</h3>
    <div class="post-card__action">
      <div>
        <span>{{ post!.created_at | date }} <mat-icon>access_time</mat-icon></span>
      </div>
      <div>
        <span>{{ post!.view }} <mat-icon>remove_red_eye</mat-icon></span>
        <span>{{ post!.like }} <mat-icon [color]="'blue'">thumb_up</mat-icon></span>
      </div>
    </div>
    <p class="post-card__short-desc">
      {{ post!.excerpt }}
    </p>
    <div class="post-card__tags">
      <blog-tag *ngFor="let tag of post!.categories" [tagName]="tag.name"
        [color]="getColorByOfTag(tag.name)"></blog-tag>
    </div>
  </div>
</div>