<header class="grid grid-cols-3">
  <div class="flex items-center justify-center" style="background-color: #e5f5ea">
    <a href="#" class="bl__logo">Blogify</a>
  </div>
  <div class="p-4 myself" [routerLink]="['/about-me', 'projects']">
    <p> <blog-icon name="pig-hello-sitting" extra="gif"></blog-icon> I'm <span class="primary-text">Anh
        Tuan</span>, learning SE at HUST 🏫 - Ha Noi, <span style="color: red; font-weight: 700">Viet Nam
        🇻🇳.</span></p>
    <p><blog-icon name="terminal"></blog-icon> sudo useradd <a target="_blank" href="https://github.com/Z-zenos"
        style="color: orangered; font-weight: 700; margin-right: 5px">Zenos</a><blog-icon name="ghost"
        extra="gif"></blog-icon> Welcome to my <span class="primary-text">Blogify.</span></p>
    <p><blog-icon name="meow_code" extra="gif"></blog-icon> I love <span
        style="text-decoration: underline; font-weight: 700">coding</span>, <span
        style="text-decoration: underline; font-weight: 700">thinking</span> about system design and <blog-icon
        name="computerrage" extra="gif"></blog-icon> <span
        style="text-decoration: underline; font-weight: 700">learning</span> programming language.</p>
  </div>
  <div class="terminal col-span-1">
    <div class="terminal__header mb-2">
      <img class="terminal__logo inline-block mr-2" src="../../../assets/icons/code.png" alt="" />
      <span>Terminal <blog-icon name="penguin" extra="gif"></blog-icon></span>
    </div>
    <span class="mx-4 font-bold"><span class="primary-text">@search</span>:~$</span>
    <input type="text" class="terminal__input" placeholder="search, ls, cd..." (keyup)="playKeySound()" />
  </div>
</header>