@import "../../../styles";

header {
  font-size: 1.6rem;
  height: 12rem;
  border-bottom: $border;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.myself {
  font-size: 1.4rem;
  line-height: 2.5rem;
  background-color: white;
  height: 12rem;
  border-bottom: 1px solid $primary-color;
  cursor: pointer;
}

.terminal {  background-color: white;
  border: $border;
  border-width: 0 0 1.5px 1.5px;

  &__header {
    border: $border;
    border-width: 0 0 1.5px 0;
    padding: 4px 1rem;
  }

  &__input {
    all: unset;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: $small-text;
    font-weight: 500;
    letter-spacing: 1px;

    &:focus, &:focus-visible, &:focus-within {
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  &__logo {
    width: 2rem;
    height: auto;
  }
}
