@import "../../../styles";

.pagination {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    margin: 0 .5rem;
    padding: .5rem 1rem;
    border: 1px solid #c2cad6;
    transition: $transition;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: white;
    }

    &.active {
      background-color: $primary-color;
      color: white;
      cursor: not-allowed;
    }

    &.inactive {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}