@import "../../../styles";

span {
  font-size: $tip-text;
  padding: 4px 8px;
  margin-right: 4px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: $transition;
  background-color: black;
  color: white;
  cursor: pointer;
}
