<section class="section section--featured">
  <div class="section__heading">
    <h1 class="bl__heading bl__heading--big text-white">Featured Post</h1>
    <p class="bl__heading bl__heading--medium text-white" style="opacity: .9;">
      Lorem ipsum dolor sit amet consectet adindae sint, omnis, laborum commodi ipsa..
      <blog-icon name="partying-face" extra="gif"></blog-icon>
    </p>
  </div>
  <div *ngIf="featuredPosts.length" class="section__body">
    <blog-post-card *ngFor="let fp of featuredPosts" [post]="fp"></blog-post-card>
  </div>
</section>
<blog-subscription *scrollColor></blog-subscription>

<section *scrollColor class="section section--lastest">
  <div class="section__heading">
    <h1 class="bl__heading bl__heading--big">Lastest Post</h1>
    <p class="bl__heading bl__heading--medium">
      Lorem ipsum dolor sit amet consectet adindae sint, omnis, laborum commodi ipsa..
      <blog-icon name="thankyou" extra="gif"></blog-icon>
    </p>
  </div>
  <div *ngIf="lastestPosts.length" class="section__body">
    <blog-simple-card *ngFor="let lp of lastestPosts" [post]="lp"></blog-simple-card>
  </div>
</section>

<section class="section section--game">
  <div class="section__heading">
    <h1 class="bl__heading bl__heading--big">Memory Chaining Game</h1>
    <p class="bl__heading bl__heading--medium">
      Lorem ipsum dolor sit amet consectet adindae sint, omnis, laborum commodi ipsa..
      <blog-icon name="gameboy" extra="gif"></blog-icon>
    </p>
  </div>
  <blog-game-memory></blog-game-memory>
</section>

<section class="section section--collections">
  <div class="section__heading primary-text">
    <h1 class="bl__heading bl__heading--big">Collections</h1>
    <p class="bl__heading bl__heading--medium">
      Here is a list of my collections, bookmarks.
      <blog-icon name="package"></blog-icon>
    </p>
  </div>
  <div class="mt-20 grid grid-cols-5 gap-y-10 place-items-center">
    <blog-badge *ngFor="let c of categories" [category]="c"></blog-badge>
  </div>
</section>