<section class="section section--featured">
  <div class="section__heading">
    <h1 class="bl__heading bl__heading--big text-white">Featured Post</h1>
    <p class="bl__heading bl__heading--medium text-white" style="opacity: .9;">
      Lorem ipsum dolor sit amet consectet adindae sint, omnis, laborum commodi ipsa..
      <img src="../../../assets/images/partying-face.gif" class="img-icon" />
    </p>
  </div>
  <div class="section__body">
    <blog-post-card srcImg="pexels-bich-tran-669986.jpg" tagsStr="ubuntu,node.js,c"></blog-post-card>
    <blog-post-card srcImg="pexels-hitesh-choudhary-879109.jpg" tagsStr="react.js,html,c"></blog-post-card>
    <blog-post-card srcImg="pexels-jorge-jesus-614117.jpg"
      tagsStr="node.js,react.js,angular,css,javascript,html"></blog-post-card>
    <blog-post-card srcImg="pexels-ravi-kant-5929346.jpg" tagsStr="ubuntu,node.js,c"></blog-post-card>
  </div>
</section>
<blog-subscription></blog-subscription>

<section class="section section--lastest" #lastestPostSectionEl>
  <div class="section__heading">
    <h1 class="bl__heading bl__heading--big">Lastest Post</h1>
    <p class="bl__heading bl__heading--medium">
      Lorem ipsum dolor sit amet consectet adindae sint, omnis, laborum commodi ipsa..
      <img src="../../../assets/images/thankyou.gif" class="img-icon" />
    </p>
  </div>
  <div class="section__body">
    <blog-simple-card srcImg="pexels-marko-blazevic-2708981.jpg"></blog-simple-card>
    <blog-simple-card srcImg="pexels-hitesh-choudhary-879109.jpg"></blog-simple-card>
    <blog-simple-card srcImg="pexels-thisisengineering-3912992.jpg"></blog-simple-card>
    <blog-simple-card srcImg="pexels-ekaterina-belinskaya-4744706.jpg"></blog-simple-card>
    <blog-simple-card srcImg="pexels-jorge-jesus-614117.jpg"></blog-simple-card>
    <blog-simple-card srcImg="pexels-julia-m-cameron-4144179.jpg"></blog-simple-card>
  </div>
  <button style="margin-top: 6rem">Load More</button>
</section>

<section class="section section--game">
  <div class="section__heading">
    <h1 class="bl__heading bl__heading--big">Memory Chaining Game</h1>
    <p class="bl__heading bl__heading--medium">
      Lorem ipsum dolor sit amet consectet adindae sint, omnis, laborum commodi ipsa..
      <img src="../../../assets/images/gameboy.gif" class="img-icon" />
    </p>
  </div>
  <blog-game-memory></blog-game-memory>
</section>

<section class="section section--collections">
  <div class="section__heading primary-text">
    <h1 class="bl__heading bl__heading--big">Collections</h1>
    <p class="bl__heading bl__heading--medium">
      Here is a list of my collections, bookmarks.
      <img src="../../../assets/images/package.png" class="img-icon" />
    </p>
  </div>
  <div class="mt-20 grid grid-cols-5 gap-y-10 place-items-center">
    <blog-badge title="nodejs"></blog-badge>
    <blog-badge title="c"></blog-badge>
    <blog-badge title="chrome"></blog-badge>
    <blog-badge title="css"></blog-badge>
    <blog-badge title="github"></blog-badge>
    <blog-badge title="html5"></blog-badge>
    <blog-badge title="linux"></blog-badge>
    <blog-badge title="mongodb"></blog-badge>
    <blog-badge title="mysql"></blog-badge>
    <blog-badge title="javascript"></blog-badge>
  </div>
</section>