<div *scrollColor class="post">
  <!-- POST HEADER -->
  <div class="post__header">
    <div class="overview">
      <div class="overview__info">
        <span class="overview__date">DECEMBER 8, 2023 <mat-icon>access_time</mat-icon></span>
        <span class="overview__reading-time">{{ readingTime }} min</span>
        <div class="overview__react">
          <div>
            <span>8 <mat-icon>remove_red_eye</mat-icon></span>
            <span class="ml-4">12 <mat-icon>comment</mat-icon></span>
          </div>
        </div>
      </div>

      <div class="overview__tags mt-5 mb-10">
        <blog-tag tagName="node.js"></blog-tag>
        <blog-tag tagName="angular"></blog-tag>
        <blog-tag tagName="C"></blog-tag>
      </div>

      <h1 class="overview__title">Building an API is half the battle using Gin.z (Ep. 2)</h1>
      <p class="overview__summary">
        <span class="quick-summary">Quick summary -></span>
        Marco Palladino, CTO and cofounder of Kong,
        joins Ryan to
        talk about the evolution of API protocols over time and why building the API is only half the battle.
      </p>

      <div class="author">
        <div class="author__avatar">
          <img src="../../../assets/images/pexels-jorge-jesus-614117.jpg" alt="zenos avatar">
        </div>
        <div class="author__info">
          <p class="author__name primary-text text-half-highlight">
            Zenos
          </p>
          <p class="author__profession">
            Senior Content Marketer
          </p>
        </div>
      </div>

    </div>
    <div class="post__img post__img--main">
      <img src="../../../assets/images/pexels-ekaterina-belinskaya-4744706.jpg" alt="post image" />
    </div>
  </div>

  <!-- POST BODY -->
  <div class="post__body">
    <div class="tool">
      <mat-icon>bookmark_border</mat-icon>
      <mat-icon> insert_comment</mat-icon>
    </div>
    <article class="content" #content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus efficitur nulla non posuere. Mauris
        iaculis
        enim felis, sed tempor odio pulvinar eu. Suspendisse tempor volutpat congue. Proin faucibus purus non velit
        scelerisque, id lacinia augue tincidunt. Duis eu nisi in sapien dignissim varius sit amet id quam. In dignissim
        urna
        lectus, vitae varius elit facilisis ac. Sed tristique vestibulum tellus interdum fermentum. Etiam consequat
        finibus
        elementum. Cras pharetra convallis ligula, eget bibendum lorem tempor vestibulum. Nullam non rhoncus ex, at
        tincidunt est. Cras egestas ullamcorper purus, eget ullamcorper quam. Orci varius natoque penatibus et magnis
        dis
        parturient montes, nascetur ridiculus mus.

        Vestibulum vitae ligula blandit leo faucibus laoreet. Curabitur posuere tempor felis, ut auctor arcu egestas
        vitae.
        Morbi volutpat nunc arcu, non tincidunt tellus condimentum id. Nam turpis risus, luctus sed neque eu, fringilla
        iaculis urna. Proin urna felis, finibus eget lorem et, bibendum sollicitudin ipsum. Vestibulum non arcu at nisl
        ultrices tempor. Phasellus vel nisl vel quam mollis ultricies et in dolor.

        Vivamus at accumsan dui. Mauris et elit imperdiet, accumsan justo eu, ullamcorper neque. Nullam lacinia nulla
        quis
        dolor egestas, pharetra efficitur velit commodo. Cras velit nunc, condimentum in felis nec, bibendum
        sollicitudin
        erat. Nam hendrerit magna et dolor euismod aliquam. Interdum et malesuada fames ac ante ipsum primis in
        faucibus.
        Sed semper ornare cursus. Duis ut nulla eu mi porta finibus blandit tempus risus. Donec leo risus, interdum quis
        arcu at, rutrum laoreet neque. Cras non nibh sodales, dictum felis sed, eleifend nibh. Ut viverra nulla metus,
        ut
        egestas massa lacinia dapibus. Nulla a quam commodo, porta mi placerat, placerat arcu. Duis tempus vel ante et
        ullamcorper.

        Praesent varius lobortis gravida. Cras vel augue blandit, placerat massa et, condimentum sapien. Cras nec felis
        libero. Donec et ornare metus. Duis sit amet sapien vitae ante vulputate ullamcorper. Vivamus sed est et massa
        pulvinar hendrerit. Aenean eleifend imperdiet urna, ac tempus purus.

        Maecenas nibh dolor, pretium at volutpat aliquet, facilisis sit amet leo. Vestibulum ipsum libero, placerat
        vitae
        justo id, molestie porttitor arcu. Aenean in est et quam lobortis sodales in at libero. Etiam aliquet dolor
        odio,
        ac
        sollicitudin enim consequat eu. Curabitur libero ante, imperdiet eget vehicula tempus, molestie sit amet nisi.
        Cras
        ultrices enim a tincidunt hendrerit. Nullam dolor nunc, dignissim cursus ipsum a, molestie feugiat massa.
      </p>
    </article>

    <div class="sidebar">
      <div class="menu">
        <h3>1. This is a heading</h3>
        <h4>a. sub-title 1</h4>
        <h4>b. sub-title 2</h4>
        <h3>2. No, this isn;t heading</h3>
      </div>
      <div class="related-post">
        1. hehe
        2. haha
        3. huhu
      </div>
    </div>
  </div>

  <!-- POST FOOTER -->
  <div class="post__footer">

  </div>
</div>