@import "../../../styles";

.bl__footer {
  text-align: center;
  background-color: $secondary-color;
  padding: 4rem 0;

  h1 {
    font-weight: 600;
    font-size: $big-text;
    color: $primary-color;
  }
}
