/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;300;700&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

/* COLOR */
$primary-color: #1fbc0e;
$secondary-color: #dff7dc;
$tertiary-color: #f9f9f9;
$text-color: #3c3c3b;

$green-1: rgb(0, 255, 0);

$black-color: #000;

/* TEXT */
$huge-text: 6.4rem;
$big-text: 3.2rem;
$medium-text: 2rem;
$small-text: 1.6rem;
$tip-text: 1.2rem;

$border: 1.5px solid $black-color;
$transition: all .3s ease;

body {
  font-family: "Space Mono", sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  background-color: white;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  font-size: 1.5rem;
}

.img-icon {
  width: 2rem;
  height: auto;
  display: inline-block;
  margin-right: 4px;
}

.tool-icon {
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
}

.bl__heading {
  text-align: center;
  margin-bottom: 1rem;

  &--big {
    font-weight: 700;
    font-size: $big-text;
    text-transform: uppercase;
  }

  &--medium {
    font-size: $small-text;
    opacity: .6;
  }
}

@mixin center-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin limit-line($line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line; /* number of lines to show */
  line-clamp: $line;
  -webkit-box-orient: vertical;
}

html, body { height: 100%; }

.primary-text {
  font-weight: 600;
  color: $primary-color;
}

.bl__logo {
  font-size: $big-text;
  font-weight: 700;
  color: $primary-color;
}

button {
  background-color: $primary-color;
  color: white;
  font-weight: 600;
  font-size: $small-text;
  border: 1px solid $primary-color;
  transition: $transition;

  padding: 1rem 2rem;
  border-radius: 4px;
  margin: 0 10px;

  &:hover {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
  }
}

.text-half-highlight {
  display: inline-block;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba($green-1, 0.35) calc(50% - 9px), rgba($green-1, 0.35) 100%);
  transition: all 120ms ease-in-out 0s;
  background-size: 100% 200%;
  background-position: 0px 0px;
  word-break: break-word;

  &:hover {
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), $green-1 calc(50% - 9px), $green-1 100%);
    background-position: 0px 100%;
  }
}

.text-two-line {
  overflow: hidden;
  text-align: center;
  font-size: $big-text;
  color: $primary-color;
  font-weight: 600;
}

.text-two-line::before,
.text-two-line::after {
  background-color: rgba($primary-color, 0.7);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.text-two-line::before {
  right: 0.5em;
  margin-left: -50%;
}

.text-two-line::after {
  left: 0.5em;
  margin-right: -50%;
}

.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  width: 7rem;
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}