@import "../../../styles";

.zenos {
  padding: 0 18%;
  margin: 3rem auto 13rem;
  display: grid;
  grid-template-columns: 27% 40% 27%;
  column-gap: 3%;
  font-size: $small-text;

  &__heading {
    margin: 4rem 0;
  }

  img {
    cursor: pointer;
  }

  &--top {
    height: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 3px solid $text-color;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  &--right {
    .zenos--top {
      justify-content: flex-end;
    }

    text-align: right;
  }

  &__social-media {
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $primary-color;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    margin-top: 3rem;
  }

}

.list {
  li {
    padding: .7rem 1rem;
  }

  &--category {
    li {
      cursor: pointer;
  
      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  

  &--info {

  }
}

.logo {
  font-size: $big-text;
}